<main>
  <div class="board">
    <!-- Los span no llevarían números como contenido, es por comodidad para debuggear-->
    <span class="board__item js-item" id="16">16</span>
    <span class="board__item js-item" id="15">15</span>
    <span class="board__item js-item" id="14">14</span>
    <span class="board__item js-item" id="13">13</span>
    <span class="board__item js-item" id="12">12</span>
    <span class="board__item js-item" id="11">11</span>
    <span class="board__item js-item" id="10">10</span>
    <span class="board__item js-item" id="9">9</span>
    <span class="board__item js-item" id="8">8</span>
    <span class="board__item js-item" id="7">7</span>
    <span class="board__item js-item" id="6">6</span>
    <span class="board__item js-item" id="5">5</span>
    <span class="board__item js-item" id="4">4</span>
    <span class="board__item js-item" id="3">3</span>
    <span class="board__item js-item" id="2">2</span>
    <span class="board__item js-item" id="1">1</span>
  </div>
</main>
