.header {
  display: inline-block;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: $font-header;
    color: $color-title;
    &--four {
      font-size: 200px;
      padding: 0 20px 0 100px;
    }
    &--wrapper {
      display: flex;
      flex-direction: column;
    }
    &--in {
      padding-top: 42px;
      font-size: 60px;
    }
    &--line {
      font-size: 80px;
      text-decoration: underline;
    }
  }
}
